@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --cor-primaria: #B6F500
}

*{
  font-family: "Noto Sans";
}

header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--cor-primaria);
  display: flex;
  justify-content: space-between;
  padding: 5px 12px;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  font-size: 18px;
}

nav a:hover{
  text-shadow: 0.5px 0 0, -0.5px 0 0;
  cursor: pointer;
}

main{
  margin-top: 120px;
}